body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }


  .column {
    float: left;
    width: 50%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }


.menu {
    background-color: #43a5fc;
    overflow: hidden;

  }
  
  /* Style the links inside the navigation bar */
  .menuLink {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
  }
  
  /* Change the color of links on hover */
  .menuLink:hover {
    background-color: #edfaff;
    color: black;
  }
  
  /* Add a color to the active/current link */
  #active {
    background-color: #9ee2ff;
    color: white;
  }


  #right_side{
    margin-top: 12px;
    margin-right: 20px;
    
  }

  #register_table{
    width:100%;
    border-collapse: separate;
  }



  #register_table td{
    width: 12.5%;
    height: 50px;
    text-align: center;
  }

  .occupied {
    /* background-color: rgba(255, 101, 101, 0.87);  */
    background: repeating-linear-gradient(
      45deg,
      #e6e6e6,
      #e6e6e6 10px,
      #f4f4f4 10px,
      #f4f4f4 20px
    );
  }

  .yourapt {
    background-color: #43a5fc; 
    color: white;
    cursor: pointer;
  }

  .yourapt:hover {
    border: 3px dotted white !important;
  }

  .free {
    cursor: pointer;
  }

  .free:hover {
    border: 3px dotted black !important;
  }

  #post_button:hover{
    cursor: pointer;
  }

  .fa-chevron-left:hover {
    color: orange !important;
    cursor: pointer;
  }
  
  .fa-chevron-right:hover {
    color: orange !important;
    cursor: pointer;
  }

  .darkrow {
    /* background-color: #c3c3c3; */
    background-color: #dfdfdf;
    
  }

  .lightrow {
    /* background-color: #f4f4f4; */
    background-color: #dfdfdf;
  }

  #therapist_info{
    width: 45%;
    background-color: #f4f4f4;
    box-shadow: 3px 4px 3px #bcbbbb;
    margin-left: 15px;
    margin-top: 12px;
    overflow: hidden;
  }

  #karen{
    box-shadow: 2px 3px 3px #bcbbbb;
    border: 2px solid white;
  }

  #therapist_top{
    margin-top: 5px; 
    margin-left: 35px;
    overflow: hidden;
  }

  #therapist_heading{
    display: block;
    font-size: 1.5em;
    margin-top: 1.0em;
    margin-bottom: 0.67em;
    margin-left: 1.0em;
    float: left;
    line-height: 1.2;
    color: #4d4d4d;
    overflow: hidden;
  }

  .checked {
    color: orange;
  }



  #rating{
    margin-left: 65px;
    overflow: hidden;
  }

  #detail_info{
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 15px;
    border-bottom: 1px solid lightgray !important;
    border-top: 1px solid lightgray !important;
  }

  #detail_info p{
    color: #4d4d4d;
    font-size: 1.4em;
  }

  #detail_info span{
    padding-right: 0.5em;
  }

  #comments {
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    background-color: white !important;
  }

  #your_comment {
    border-bottom: 1px solid lightgray !important;
  }

  #your_comment textarea{
    width: auto; 
    margin-left: 1em; 
    resize: none;
    width: 95%;
    margin-top: 1em;
    -webkit-box-sizing: border-box; /* <=iOS4, <= Android  2.3 */
       -moz-box-sizing: border-box; /* FF1+ */
            box-sizing: border-box; /* Chrome, IE8, Opera, Safari 5.1*/
  }

  #post_button {
    background-color: #43a5fc; /* Green */
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    margin-left: 1.1em;
  }

  .avatar {
    vertical-align: middle;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    float:left; 
    margin-bottom: 1em; 
    margin-left: 0.6em;
  }

  #thanks_message {
    display: none;
    font-size: 18px;
    margin-left: 4em;
    margin-right: 4em;
    text-align: center;
    color: white;
    background-color: #43a5fc;
  }

  #delete_message {
    display: none;
    font-size: 18px;
    margin-left: 4em;
    margin-right: 4em;
    text-align: center;
    color: white;
    background-color: #43a5fc;
  }


  /* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  -webkit-animation-name: fadeIn; /* Fade in the background */
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s
}

/* Modal Content */
.modal-content {
  position: fixed;
  left: 50%;
  bottom: 0;
  background-color: #fefefe;
  width: 47.5%;
  -webkit-animation-name: slideIn;
  -webkit-animation-duration: 0.4s;
  animation-name: slideIn;
  animation-duration: 0.4s
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #43a5fc;
  color: white;
}

.modal-body {
  padding: 2px 16px;
  background-color: #f4f4f4;
}



/* Add Animation */
@-webkit-keyframes slideIn {
  from {bottom: -300px; opacity: 0} 
  to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
  from {bottom: -300px; opacity: 0}
  to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}

@keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}

 
  